body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fa-trash {
    color: gray;
}

.fa-trash:hover {
    color: darkred;
    transition: .25s ease-in;
}

.fa-edit {
    color: gray;
}

.fa-edit:hover {
    color: dodgerblue;
    transition: .25s ease-in;
}

.fa-check {
    color: gray;
}

.fa-check:hover {
    color: forestgreen;
    transition: .25s ease-in;
}

.card {
    width: 17rem;
    margin-bottom: 1rem;
}
