# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\psgom\Documents\School\2019-2020_Northeastern\S4_Spring2021\CS5610_WebDev\Assignments\wbdv-sp21-02-pablogomezforero-client-react\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
